[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8 ."
publish = "python setup.py sdist upload"
test = "nosetests"
type_check = "mypy ."
format = "yapf -ir deadbolt tests"
format_check = "yapf -dr deadbolt tests"

[dev-packages]
flake8-debugger = "*"
flake8-quotes = "*"
flake8 = "*"
pep8-naming = "*"
coverage = "*"
nose = "*"
rednose = "*"
sure = "*"
flask = "*"
mypy = "*"
lxml = "*"
yapf = "*"

[packages]
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
